
ML/Личное/

.obsidian/

DL/

Datasets/

*.mp4

ML/Innopolis/material/1 semester/HDDA/supporting materials/

ML/Innopolis/material/1 semester/Machine Learning/Project/F24.ML.Assignment.One.data.db

ML/.trash/

ML/Innopolis/material/1 semester/Machine Learning/Project/content/orders_with_target.csv

ML/Innopolis/material/1 semester/Machine Learning/Project/content/

ML/Innopolis/material/1 semester/Machine Learning/Labs/lab6/data/

ML/Innopolis/material/1 semester/venvs/ml-venv/data/

Innopolis/1 semester/venvs/

Личное/

*.gz

data/

models/

logs/

runs/

Innopolis/2 semester/Advanced_Information_Retrieval/LostFound

Innopolis/2 semester/Reinforcement_Learning_and_Intellectual_Agents/RecSys-RL
